.btn_container{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.feedback_btn {
    font-size: 18px;
    padding: 2px 6px;
}

.feedback_btn.good{
    background-color: green;
}

.feedback_btn.neutral {
    background-color: orange;
}

.feedback_btn.bad {
    background-color: red;
}